{% extends "base.html" %}
{% load static %}

{% block content %}      
      <!-- Main Content -->
      <div class="main-content">
        <!-- <section class="section">
          
        </section> -->
        <div class="card">
          <div class="card-header">
            <h4>Create Quiz</h4>
          </div>
          <div class="card-body" class="col-xl-3">
            <div class="form-group">
              <label class="d-block" style="font-size: 20px;">Name of your quiz</label>
            
              <form action="{% url 'create_quizes' %}" method="post"> {% csrf_token %}
                <div class="form-group">
                  <!-- Replace the textarea with CKEditor 5 -->
                  <div id="editor"></div>
                </div>
                <div class="card-footer text-right">
                  <button class="btn btn-primary mr-1" type="submit" fdprocessedid="8pvhtn">Submit</button>
                  <a href="{% url 'index' %}"><button class="btn btn-danger" type="button">Back</button></a>
                </div>
              </form>
            </div>
            
            </div>
          </div>
        </div>
        <div class="settingSidebar">
          <!-- Sidebar Settings (if applicable) -->
        </div>
      </div>
      
{% endblock %}
